#bootstrap-override {
  margin: auto;
  border-radius: 14px;
  width: 100%;
  position: relative
}

p{
  margin-left: 10%;
}
body {
    background-image: url('images/katie.jpg');
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;

}
.index{
  margin: 0 auto;
}

#bootstrap-override table{
  margin-bottom: 4px;
  width: 100%;
}

#bootstrap-override .navigation {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  vertical-align: middle;
  float: left;
  display: inline;
  margin-left: 10%;}

.navigation {
  width:100%;
  margin-top: -3%;
}

.alert-nav {
  margin-left: 10%;
  font-family: 'Quicksand', sans-serif;
}

#alert-button {
  margin-top: 1%;
}

.alert-box{
  margin-left: 10%;
  font-family: 'Quicksand', sans-serif;
}

.panel-body {
  text-align: center;
}

.panel.panel-default{
  border: none;
  background-color: transparent;
}

#bootstrap-override select .form-group {
  margin-bottom: 10px;
  margin-right: 14px;
  text-align: left;
}
#bootstrap-override .table {
  margin-bottom: 0%;
}
.day{
  border: 1px solid rgba(137, 137, 137, 0.18);
  background-color: white;
  opacity: 0.5;
  text-align: center;
  float: left;
  font-style: 'Quicksand', sans-serif;
  font-size: 14;
  height: 48px;
  line-height: 50px;
  width: 48px;
}

#inputs{
  padding-top: 20px;
  display: none;
  width: 65%;
  margin: 0;
  float: left;
  text-align: left;
}

#month{
	width: 336px;
  border-radius: 4px;
  opacity: 50%;
	margin: 4% 0 0 22%;
}

select{
  margin: 10px;
  padding: 1px;
}

td{
  text-align: left;
}

.control-label{
  text-align: left;
}

.edit-alert{
  margin-left: 10%;
  font-family: 'Quicksand', sans-serif;
}

#bootstrap-override h1{
	font-family: 'Quicksand', sans-serif;
  position: relative;
  padding-top: 0;
  margin-left: 10%;
}

#input-delete,
#input-update {
  width: 35%;
}

.change-report {
  position: relative;
}

/* Alarm Digits */

.minutes {
  display: inline-block;
  width: 50%;
}

.katie{
  background-color: rgb(194, 193, 198);
  opacity: 1;
}
#routes {
  bottom: 0
}
.index {
  width: 100%;
  height: 36px;
  opacity: 70%;
  background-color: white;
}

.hours {
  display: inline-block;
  width: 5.2%;
}
.results {
  display: none;
  text-align: left;
  margin-bottom: 14px;
  margin-left: 21px;
  position: absolute;
}