main {
  text-align: center;
}

div {
  text-align: center;
}

#main {
  background-color: powderblue;

}



.minutes {
  display: inline-block;
  width: 50%;
}

.hours {
  display: inline-block;
  width: 50%;
}
